<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <form action="/login" method="POST">
        <label for="name">Userame:</label>
        <input type="text" id="username" name="username" />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
        <input type="submit" value="Submit" />
      </form>
  </div>
</main>
<%- include ('../partials/footer') %>
