<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
<main>
  <div class="container">
    <p>LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN</p>
    <form action="/login" method="POST">
      <label for="name">Userame:</label>
      <input type="text" id="username" name="username" />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" />
      <input type="submit" value="Submit" />
    </form>
  </div>
  <p> </p>
  <p> </p>
  <p> </p>
  <div class="container">
    <p>REGISTEREGISTEREGISTEREGISTEREGISTEREGISTEREGISTEREGISTEREGISTEREGISTEREGISTEREGISTEREGISTE</p>
    <form action="/register_user" method="POST">
      <label for="name">Userame:</label>
      <input type="text" id="username" name="username" />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" />
      <label for="password">password:</label>
      <input type="text" id="password" name="password" />
      <input type="submit" value="Submit" />
    </form>
  </div>
</main>
<%- include ('../partials/footer') %>
