<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>

<main>
  <div class="container">
    <h1><centre> Logged out successfully!! </centre></h1>
  </div>
</main>

<%- include ('../partials/footer') %>
