<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <body onclick="update_session()">
  <div class="col"><%- include ('../partials/message') %></div>
  <link rel="stylesheet" href="../../resources/css/table.css">
  <div class="container" id="table">
    <h2>Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards">
            <img id="hidden-card" src="../../resources/img/cards/BACK.svg">
        </div>

        <h2>You: <span id="player-sum"></span></h2>
        <div id="player-cards"></div>

        <br>
        <button id="hit">Hit</button>
        <button id="stay">Stay</button>
        <p id="results"></p>
        <button id="play-again" style="display: none;">Play Again</button>

        <script src="../../resources/js/blackjack.js"></script>
        <script>
          document.getElementById("play-again").addEventListener("click", playAgain);
        </script>
  </div>
</body>
</main>

<%- include ('../partials/footer') %>
