
  <% if (parseInt(tokens)<500){ %>
    <div class="card text-center border-secondary mb-3" style="max-width:18rem">
      <div class="card-header">Add Funds</div>
      <div class="card-body">
        <div class="card-text">
          <div>Must have at least 500 tokens to play. Click Add500 to add tokens.</div>
        </div>
      </div>
      <div class="card-footer py-0 px-0" >
        <form  action="/add500" method="GET">
          <div class="dgrip">
            <button class="btn btn-warning btn-block w-100" >
              <input
                type="hidden" 
                type="submit" 
                value="<%- parseInt(tokens)+parseInt(500) %>" 
                name="tok"/>Add500
            </button>
          </div>
        </form>
      </div>
    </div>
  <% } else {  %>
      <div class="card text-center  border-secondary mb-3" style="max-width:18rem">
        <div class="card-header">Black Jack</div>
        <div class="card-footer py-0 px-0" >
          <form action="/bet" method="GET">
            <div class="dgrip">
              <button class="btn btn-success btn-block w-100">
                <input 
                type="hidden" 
                type="submit" 
                value="<%- parseInt(tokens) %>" 
                name="tok"/>Play
              </button>
            </div>
          </form>
        </div>
      </div>
  <% } %> 











