<div class="card text-center border-secondary mb-3" style="max-width: 18rem;">
  <h5 class="card-header text-center">Place a Bet</h5>
  <div class="card-body py-0 px-0">
    <form action="/table" method="GET"> 
      <div><button class="btn btn-primary btn-block w-100" name="betAmount" type="number" value="50">50</button></div>
      <div><button class="btn btn-success btn-block w-100" name="betAmount" type="number" value="100">100</button></div>
      <div><button class="btn btn-warning btn-block w-100" name="betAmount" type="number" value="250">250</button></div>
      <div><button class="btn btn-danger btn-block w-100" name="betAmount" type="number" value="500">500</button></div>
      <input type="hidden" type="number" name="session_id" id="session_id" value="<%-session%>"/>
    </form>
  </div>
</div>




